{
  "extends": "standard",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "standard"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
