.DS_Store

.circleci
.github
.husky

.editorconfig

.eslintignore
.eslintrc

.gitattributes
.gitignore

# NPM
.npmignore
.npmrc

# NVM
.nvmrc

# Deps
.depsrc

# Build
build
gulpfile.*

# Jest
__tests__
jest.config.cjs

# Coverage
.coverage

# Storybook
.storybook
stories

# TypeScript
tsconfig.json
jsconfig.json
