version: 2.1

jobs:
  publish:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Publish to NPM
          command: |
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
            echo ".publish/publish.sh" >> .npmignore
            git clone https://github.com/sequencemedia/publish.git .publish
            .publish/publish.sh

workflows:
  commit-workflow:
    jobs:
      - publish:
          filters:
            tags:
              only: /^v.*/
