{
  "extends": [
    "standard-with-typescript",
    "plugin:react/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
