{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "last 4 versions",
            "safari >= 9",
            "ios >= 8",
            "ie >= 9",
            "> 2%"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/proposal-export-default-from",
    "@babel/proposal-export-namespace-from",
    [
      "@babel/proposal-class-properties",
      {
        "loose": false
      }
    ]
  ]
}
